<!DOCTYPE html>
<html>
<head>
	<title>TRIVIA GAME</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Question 1 :</h1> {{ questions[0] }}
	<h3>Your Answer :</h3> {{ yourAns }}
	<h3>Correct Answer :</h3> {{ answers[0] }}

	<br>


	<h1>Question 2 :</h1> {{ questions[1] }}
	<h3>Your Answer :</h3> {{ yourAns }}
	<h3>Correct Answer :</h3> {{ answers[1] }}

	<br>

	<h1>Question 3 :</h1> {{ questions[2] }}
	<h3>Your Answer :</h3> {{ yourAns }}
	<h3>Correct Answer :</h3> {{ answers[2] }}

	<br>


	<h3>Your Score :</h3> {{ score }}

	<br>
	
	<h3>Number of wrong Answers :</h3> {{ wrongScore }}



	













	<!-- <div class="hey">
		<h1 class="jumbotron">Welcome to my Trivia Game</h1>
		<br>
		<br>
		<h3>Question 1</h3>
		<p>--Six cooks can boil 12 pots of water in four minutes. How many cooks are needed to boil 48 pots of water in four minutes?</p>
			<a href="q_2" class="btn btntn-secondary btn-lg active" role="button" aria-pressed="true">12</a>
			<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">24</a>
			<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">36</a>
			<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">48</a>
			<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">60</a>

	</div>


 -->

</body>
</html>