<!DOCTYPE html>
<html>
<head>
	<title>TRIVIA GAME</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<h3 class="jumbotron">Question 4</h3>
	<p>Choose the word that best describes the meaning of the bolded word in the following sentence. The newspaper released a scathing review of the director’s latest Broadway hit.</p>

	<a href="q_5" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Uncertain</a>
	<a href="q_4" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Agreeable</a>
	<a href="q_4" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Praising</a>
	<a href="q_4" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Contemptuçous</a>








</body>
</html>